<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
  <%  if(messages.length >1){ %>
        <%messages.forEach(item=>{%>
            <div>
             <h1><%= item.name %></h1>
             <p><%= item.text  %></p> 
             <a href="/message/detail/<%= item.id %>">detail</a>
            </div>
         <% })%>
         <a href="/message/create">create</a>

 <%   }else{%>
        <div>
            <h1>detail</h1>
            <h2><%= messages[0].name %></h2>
            <p><%= messages[0].id %></p>
            <p><%= messages[0].text  %></p> 
            <p><%= messages[0].date  %></p>
           </div>
           <a href="/message">back to home</a>

    <%}%>
   
   
   
</body>
</html>